@media (min-width: 800px) {
	main#question {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
	}

	main#question .breadcrumbs {
		order: 1;
		flex-basis: 50%;
		flex-grow: 0;
		flex-shrink: 1;
		max-width: unset;
		min-width: unset;
	}

	main#question .question {
		order: 2;
		flex-grow: 0;
		flex-shrink: 1;
	}
}

.question {
	position: relative;
	font-size: 1.25em;
	flex-grow: 1;
	padding: 0 10%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.question header {
	font-size: 0.5em;
	width: 100%;
	height: 4em;
	margin-bottom: 2em;
}

.question .back-button {
	position: absolute;
	top: 0;
	left: 0;
}

.question > p {
	font-size: 1.25em;
	margin-top: 0;
}

.options {
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-width: 80%;
}

.options .option {
	display: block;
}

.option .button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2em;
}

.options .option ~ .option {
	margin-top: 1em;
}

.option a {
	width: 100%;
	height: 100%;
}

@supports (display: grid) {
	.options {
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: 1fr;
		grid-gap: 1em;
		justify-content: center;
	}

	.options .option ~ .option {
		margin-top: 0;
	}
}
