main#result {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

main#result h2 {
	font-size: 1.25em;
}

main#result h2:not(:first-child) {
	margin-top: 2em;
}

main#result .resources {
	padding-left: 0;
}

@media (min-width: 800px) {
	main#result .result {
		font-size: 1.1em;
	}
}
